transformers==4.37.2
fschat==0.2.35
llama-index==0.10.4
bitsandbytes==0.42.0
accelerate==0.26.1
PyMuPDF==1.23.22
matplotlib==3.8.2
nltk==3.8.1
numpy==1.26.3
openai==1.12.0
pandas==2.2.0
scikit-learn==1.4.0
simplejson==3.19.2
XlsxWriter==3.2.0