numpy
pandas
beautifulsoup4
ipykernel
requests
requests_html
lxml_html_clean
pdfminer
filelock
unidecode
PyEnchant
spacy
sentence-transformers
langdetect
PyYAML
geopandas
pyarrow
scikit-learn
networkx
ipdb
matplotlib
# python -m spacy download en_core_web_sm
# python -m spacy download en_core_web_lg